<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Celda</title>
</head>
<body>
    <h1>Registro de Celda</h1>
    <form th:action="@{/celdas}" th:object="${celda}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Estado:</label>
        <input type="text" th:field="*{estado}" required><br><br>

        <label>Tipo:</label>
        <input type="text" th:field="*{tipo}" required><br><br>

        <label>Número Celda:</label>
        <input type="checkbox" th:field="*{numeroCelda}"><br><br>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
