<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Celda</title>
</head>
<body>
    <h1>Registro de Celda</h1>
    <form th:action="@{/celdas/guardar}" th:object="${celda}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <label>Estado:</label>
        <select th:field="*{estado}" required>
            <option value="Disponible">Disponible</option>
            <option value="Ocupado">Ocupado</option>
        </select><br><br>

        <label>Tipo:</label>
        <select th:field="*{tipo}" required>
            <option value="Carro">Carro</option>
            <option value="Moto">Moto</option>
        </select><br><br>

        <label>Número Celda:</label>
        <input type="text" th:field="*{numeroCelda}"><br><br>

        <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/celdas}">Volver</a>
</body>
</html>

