<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Celdas</title>
</head>
<body>
<h1>Celdas</h1>
<a th:href="@{/celdas/nuevo}">Registrar nueva celda</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Estado</th>
        <th>Tipo</th>
        <th>Número de Celda</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="celda : ${celdas}">
        <td th:text="${celda.id}">ID</td>
        <td th:text="${celda.estado}">Estado</td>
        <td th:text="${celda.tipo}">Tipo</td>
        <td th:text="${celda.numeroCelda}">Número</td>
        <td>
            <a th:href="@{'/celdas/editar/' + ${celda.id}}">Editar</a> |
            <a th:href="@{'/celdas/eliminar/' + ${celda.id}}"
               onclick="return confirm('¿Estás seguro?')">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>

