<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Vehículos</title>
</head>
<body>
<h1>Vehículos</h1>
<a th:href="@{/vehiculos/nuevo}">Registrar nuevo vehículo</a>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Placa</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Propietario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="vehiculo : ${vehiculos}">
            <td th:text="${vehiculo.id}">ID</td>
            <td th:text="${vehiculo.placa}">Placa</td>
            <td th:text="${vehiculo.marca}">Marca</td>
            <td th:text="${vehiculo.tipo}">Tipo</td>
            <td th:text="${vehiculo.propietario.id + ' - ' + vehiculo.propietario.nombre}">Propietario</td>

            <td>
                <a th:href="@{'/vehiculos/editar/' + ${vehiculo.id}}">Editar</a> |
                <a th:href="@{'/vehiculos/eliminar/' + ${vehiculo.id}}"
                   onclick="return confirm('¿Estás seguro?')">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
</body>