<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Formulario Novedad</title></head>
<body>
<h1 th:text="${novedad.id != null ? 'Editar Novedad' : 'Registrar Novedad'}"></h1>
<form th:action="@{/novedades/guardar}" th:object="${novedad}" method="post">


    <input type="hidden" th:field="*{id}" />
    <label>Descripción:</label>
    <input type="text" th:field="*{descripcion}" required/><br/>
    <label>Fecha:</label>
    <input type="date" th:field="*{fecha}" required/><br/>
    <label>Vehículo:</label>
<select th:field="*{vehiculo}" required>
    <option value="" disabled selected>Seleccione un vehículo</option>
    <option th:each="vehiculo : ${vehiculos}"
            th:value="${vehiculo.id}"
            th:text="${vehiculo.id + ' - ' + vehiculo.placa}">
    </option>
</select><br/>

    
    <button type="submit">Guardar</button>
</form>
<a th:href="@{/novedades}">Volver</a>
</body>
</html>
