<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Formulario Pago</title></head>
<body>
<h1 th:text="${pago.id != null ? 'Editar Pago' : 'Registrar Pago'}"></h1>
<form th:action="@{/pagos/guardar}" th:object="${pago}" method="post">


    <input type="hidden" th:field="*{id}" />
    <label>Fecha Pago:</label>
    <input type="date" th:field="*{fechaPago}" required/><br/>
    <label>Valor:</label>
    <input type="number" step="0.01" th:field="*{valor}" required/><br/>
    <label>Método Pago:</label>
        <select th:field="*{metodoPago}" required>
            <option value="Efectivo">Efectivo</option>
            <option value="Transferencia">Transferencia</option>
        </select><br><br>
    
    <button type="submit">Guardar</button>
</form>
<a th:href="@{/pagos}">Volver</a>
</body>
</html>
